#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  /* padding: 0.5rem; */
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  background: -webkit-linear-gradient(360deg, #1c1c1c 10%, #494949 360%);
  background: -moz-linear-gradient(360deg, #1c1c1c 10%, #494949 360%);
  background: linear-gradient(360deg, #1c1c1c 10%, #494949 360%);
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
.App {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.shop {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.card {
  display: grid;
  margin: 10px;
}
.countdown {
  margin: 5px;
}
